@import url("https://fonts.googleapis.com/css?family=Audiowide");

.Footer {
  background: #111111;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
 
.List > li {
     list-style-type: none;
     font-size: small;
     padding: none;
     color: #7e7e7e;
     align-content: center;
 }

.SocialList > li {
    display: inline;
    justify-content: space-evenly;
    margin: 5px;
    padding: none;
}

.Heading {
    margin-left: 30%;
    letter-spacing: 1px;
}

.Column1 {
    align-items: center;
}

.Column2 {
    align-items: center;
}

.Column3 {
    margin-right: 4%;
    align-items: center;
    display: inline;
}

.Bottom > p {
    text-align: center;
    font-size: 75%;
}